/* uncomment to see outlines of stuff when you hover *-/
:hover {
  background:rgba(0, 0, 0, 0.1);
}/**/

html,
body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  /*overflow: hidden;*/
}


/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 50px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 20px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container > #logo {
  height: 40px;
  width: 20%;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*background: red;*/
  float: left;
  /*height: 40px;*/
  width: 170px;
  margin-left: 5px;
  border-radius: 2px;
}

#logo h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin: 10px;
}

.fabu:hover a{
  color: red;
}

.dropdown-menu li{
  width: 100%;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;
  /*width: 100%;*/
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  /*color: red;*/
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}


/*
  Text
*/

.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}

/*
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}

/*
  Responsive
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

.media-list {
  margin-left: 230px;
}

@media all and (max-width: 768px) {
  .container {
    width: 95%;
    line-height: 25px;
  }

  .media-list {
    margin-left: 0;
  }

  .col.four {
    width: 48%;
    margin: 1%;
  }

  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .header {
    height: auto;
    background: #eee;
  }

  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }

  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  ul.nav li {
    float: initial;
    display: inline-block;
  }

  .responsivegroup {
    display: block;
  }

  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .media-list {
    margin-left: 200px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }

  .media-list {
    margin-left: 240px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .media-list {
    margin-left: 300px;
  }
}

@media all and (max-width: 450px) {
  .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }

  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }

  .group {
    display: none;
  }
}




